h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
