h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif ;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;
    align-items: flex-start;*/
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 1px;
    padding-right: 1px;
}

.button {
    /* width: 100px */
    width: 80px;
    /* height: 50px; */
    height: 40px;
    border-radius: 30px;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}